* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
 */

nav a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  font-weight: bold;
}